<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header class="header">
            <div>
                <form id="form">
                    <input type="text" id="address">
                    <button>Search</button>
                </form>
            </div>


        </header>
        <main>
            <h1 id="city"></h1>
            <h1 id="longitude"></h1>
            <h1 id="latitude"></h1>
            <h1 id="tempeerature"></h1>
           
        </main>
        <section class="sec">
            
             <p id="errors"></p>
            
        </section>
        <script src="/js/script.js"></script>
    </body>


</html>